
.column1 h1, p {
  align-items: flex-start;
}

.logos {
  width: 100%;
  height: 100%;
  position: relative;
  flex-basis: 60%;
  display: flex;
  background-color: lightgrey;
    }

    .photo-composite1 {
      width: 100%;
      height: 100%;
      position: relative;
      flex-basis: 60%;
      display: flex;
        }

        .photo-composite2 {
          width: 100%;
          height: 100%;
          position: relative;
          flex-basis: 60%;
          display: flex;
            }
         
      
    .content-section {
      width: 80%;
    }

.card-container {
  background-color: silver;
  width: 100%;
  height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      position: relative;
      margin: 10px;
      padding: 10px;
  }

.card {
  box-sizing: border-box; 
  margin: 10px;
  width: 100%;
  background-color: #e3d0c8;
  border-radius: 2rem;
  box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
  width: 24rem;
}


@media screen and (min-width: 768px) {
  .card {
    width: calc(50% - 20px); 
  }
  
}

@media screen and (min-width: 1200px) {
.card {
    width: calc(33.33% - 20px); 
}
}

.video {
  width: 100%;
}

.video iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@media screen and (min-width: 700px) {
  .video {
    width: 100vw; 
    height: 100vh; 
  }
}


.card-content h3 {
  font-weight: 700;
  font-size: 36px;
  }
  
  .card-content h4 {
    font-weight: 500;
    font-size: 24px;
    }

    .details img {
      border-bottom: none !important;
      border-radius: 0 !important;
      width: auto !important;
    }

img {
  border-bottom: 0.25rem solid black;
  border-radius: 2rem;
  height: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  img {
    min-height: 15.5rem;
  }
}

@media screen and (min-width: 1200px) {
  img {
    min-height: 16.375rem;
  }
}

.card-content {
  padding: 1rem;
}

.header,
.subheader {
  margin: 0;
}

.header {
  color: black;
  grid-column-start: 1;
  }

    
  .poem-container {
    font-family: "Esteban", serif;
    font-weight: bold;
    font-style: normal;
  }
  
  .card-container {
    font-family: "Esteban", serif;
    font-weight: bold;
    font-style: normal;
  }